.p-prefecture {
    &__imagebox {
        position: relative;
    }
    &__name {
        position: absolute;
        top: 40%;
        right: 40%;
        &.-view {
            font-size: 2.5rem;
        }
    }
    &__image {
        width: 30rem;
        &.-mie {
            width: 20rem;
        }
    }
}