
.p-ward {
    &__number {
        &.-view {
            color: #fff;
            font-size: 2rem;
            font-weight: bold;
        }
    }
    &__name {
        &.-view {
            color: #fff;
            font-size: 2rem;
            font-weight: bold;
            @include media (sp) {
                font-size: 1.6rem;
            }
        }
    }
    &__ward-box {
        margin-top: 1rem;
        &.-view {
            border-bottom: 1px solid #fff;
        }
    }
}